/* Grayscale */
$grayscale-0: #ffffff;
$grayscale-400: #8d8d8d;
$grayscale-700: #323232;
$grayscale-800: #222222;
$grayscale-900: #000000;

/* Orange */
$orange-0: #fff8f5;
$orange-300: #ffb28c;
$orange-400: #f98d56;
$orange-500: #e9661f;
$orange-600: #c44f14;
$orange-700: #9e3e12;
$orange-800: #7c3110;
