@use "colors";
@use "breakpoints";
@use "reset";

body {
  overflow: auto;
  min-height: 100vh;
  background: colors.$grayscale-800;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: colors.$grayscale-0;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
